<div class="card border-secondary">
  <div class="card-header">
    <h2 class="text-center text-success">Cadastro de Tutor</h2>
  </div>
</div>

<div class="container p-5">
  <!-- <form (ngSubmit)="" [formGroup]=""> -->
  <form (ngSubmit)="udpateUser()" [formGroup]="userFormUpdate">
    <!-- NOME -->
    <div class="form-group mb-3">
      <label class="form-label" for="userName">Digite seu nome</label>
      <input
        type="text"
        class="form-control"
        name="userName"
        id="userName"
        formControlName="userName"
        aria-describedby="userName"
        placeholder="Seu nome"
      />
    </div>
    <!-- NOME -->

    <!-- EMAIL -->
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="email">Endereço de email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          formControlName="email"
          aria-describedby="email"
          placeholder="Seu email"
        />
      </div>
      <!-- EMAIL -->

      <!-- TELEFONE -->
      <div class="form-group col-md-6 mb-3">
        <label for="phone">Telefone</label>
        <input
          type="tel"
          class="form-control"
          name="phone"
          id="phone"
          formControlName="phone"
          aria-describedby="phone"
          placeholder="Seu telefone"
        />
      </div>
    </div>
    <!-- TELEFONE -->

    <!-- CEP -->
    <div class="row">
      <div class="form-group col-md-2 mb-3">
        <label for="zipCode">CEP</label>
        <input
          type="text"
          class="form-control"
          name="zipCode"
          id="zipCode"
          formControlName="zipCode"
        />
      </div>
      <!-- CEP -->

      <!-- ENDEREÇO -->
      <div class="form-group col-md-6 mb-3">
        <label for="address">Endereço</label>
        <input
          type="text"
          class="form-control"
          name="address"
          id="address"
          formControlName="address"
          placeholder="Rua das palmeiras"
        />
      </div>
      <!-- ENDEREÇO -->

      <!-- NÚMERO -->
      <div class="form-group col-md-1 mb-3">
        <label for="streetNumber">Número</label>
        <input
          type="text"
          class="form-control"
          name="streetNumber"
          id="streetNumber"
          formControlName="streetNumber"
        />
      </div>

      <!-- NÚMERO -->

      <!-- COMPLEMENTO -->
      <div class="form-group col-md-3 mb-3">
        <label for="complement">Complemento</label>
        <input
          type="text"
          class="form-control"
          name="complement"
          id="complement"
          formControlName="complement"
          placeholder="Bloco,Andar, Apto."
        />
      </div>
    </div>
    <!-- COMPLEMENTO -->

    <!-- BAIRRO -->
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label for="neighborhood">Bairro</label>
        <input
          type="text"
          class="form-control"
          name="neighborhood"
          id="neighborhood"
          formControlName="neighborhood"
          aria-describedby="neighborhood"
        />
      </div>
      <!-- BAIRRO -->

      <!-- CIDADE -->

      <div class="form-group col-md-3 mb-3">
        <label for="city">Cidade</label>
        <input
          type="text"
          class="form-control"
          name="city"
          id="city"
          formControlName="city"
        />
      </div>
      <!-- CIDADE -->

      <!-- ESTADO -->
      <div class="form-group col-md-3 mb-3">
        <label for="state">Estado</label>
        <input
          type="text"
          class="form-control"
          name="state"
          id="state"
          formControlName="state"
        />
      </div>
    </div>
    <!-- ESTADO -->

    <button type="submit" class="btn btn-primary">Enviar</button>
    <button class="btn btn-secondary m-1" (click)="onCancel()">Cancelar</button>
  </form>
</div>
