<div class="card border-secondary">
  <div class="card-header">
    <h2 class="text-center text-success">Cadastro de Cachorro</h2>
  </div>
</div>

<div class="container p-5">
  <!-- <form (ngSubmit)="" [formGroup]=""> -->
  <form>
    <!-- dogName -->
    <div class="form-group mb-3">
      <label class="form-label" for="dogName"
        >Digite o nome do seu Cachorro</label
      >
      <input
        type="text"
        class="form-control"
        id="dogName"
        aria-describedby="dogName"
        placeholder="Nome do Cachorro"
      />
    </div>
    <!-- dogName -->

    <!-- breed -->
    <div class="form-group mb-3">
      <label class="form-label" for="breed"
        >Digite a raça do seu Cachorro</label
      >
      <input
        type="text"
        class="form-control"
        id="breed"
        aria-describedby="breed"
        placeholder="Raça do Cachorro"
      />
    </div>
    <!-- breed -->

    <!-- color -->
    <div class="form-group mb-3">
      <label class="form-label" for="color"
        >Digite a(s) cor(es) do seu Cachorro</label
      >
      <input
        type="text"
        class="form-control"
        id="color"
        aria-describedby="color"
        placeholder="Cor do Cachorro"
      />
    </div>
    <!-- color -->

    <!-- sexo  Verificar-->
    <div class="form-group mb-3">
      <label for="sexo">Sexo do Cachorro</label>
      <select class="form-select" id="sexo">
        <option selected>Escolher...</option>
        <option value="MACHO">MACHO</option>
        <option value="FÊMEA">FÊMEA</option>
      </select>
    </div>
    <!-- sexo -->

    <!-- neutered  Verificar-->
    <div class="form-group mb-3">
      <label for="neutered">O Cachorro é Castrado?</label>
      <select class="form-select" id="neutered">
        <option selected>Escolher...</option>
        <option value="true">Sim</option>
        <option value="false">Não</option>
      </select>
    </div>
    <!-- neutered -->

    <!-- peso -->
    <div class="form-group mb-3">
      <label class="form-label" for="peso">Digite o peso do seu Cachorro</label>
      <input
        type="number"
        class="form-control"
        id="peso"
        aria-describedby="peso"
        placeholder="Peso do Cachorro"
      />
    </div>
    <!-- peso -->

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
