<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h2>Serviços</h2>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-success" routerLink="new">
        Cadatros de Serviços
      </button>
      <button type="button" class="btn btn-secondary m-1" (click)="onRefresh()">
        Atualizar
      </button>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-hover"
      *ngIf="services$ | async as services; else loadingError"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services">
          <td>{{ service.idService }}</td>
          <td>{{ service.name }}</td>
          <td>{{ service.description }}</td>
          <td></td>
          <td>
            <span class="float-right">
              <button
                class="btn btn-outline-warning b1 btn-sm"
                (click)="onEdit(service.idService)"
              >
                Atualizar
              </button>
              <button
                class="btn btn-outline-danger b1 btn-sm m-1"
                (click)="onDelete(service)"
              >
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        Erro ao carregar a lista de Serviços. Tente novamente mais tarde.
      </div>
      <ng-template #loading><span>Carregando ...</span></ng-template>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Certeza que deseja remover esse serviço?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">
      Não
    </button>
  </div>
</ng-template>
