<div class="card border-secondary">
  <div class="card-header">
    <h2 class="text-center text-success">Cadastro de Cachorro</h2>
  </div>
</div>

<div class="container p-5">
  <!-- <form (ngSubmit)="" [formGroup]=""> -->
  <form
    class="needs validation"
    (ngSubmit)="saveDog()"
    [formGroup]="dogFormCreate"
  >
    <!-- dogName -->
    <div class="form-group mb-3">
      <label class="form-label" for="dogName">Nome do Cachorro </label>
      <input
        type="text"
        class="form-control"
        id="dogName"
        formControlName="dogName"
        aria-describedby="dogName"
        placeholder="Digite o nome do seu Cachorro"
        required
        [ngClass]="{ 'is-invalid': submitted && hasError('dogName') }"
      />
      <div
        class="m-1"
        *ngIf="hasError('dogName') && hasError('dogName')?.['required']"
        style="color: red"
      >
        Por favor informe um nome de cachorro!
      </div>
      <div
        class="m-1"
        *ngIf="hasError('dogName') && hasError('dogName')?.['maxlength']"
        style="color: red"
      >
        Máximo de 250 caracteres!
      </div>
      <!-- @if (dogFormCreate.get('dogName')?.invalid){
      <span>erro</span> } -->
      <!-- validar os erros -->
    </div>
    <!-- dogName -->

    <!-- breed -->
    <div class="form-group mb-3">
      <label class="form-label" for="breed">Raça do Cachorro</label>
      <input
        type="text"
        class="form-control"
        id="breed"
        formControlName="breed"
        aria-describedby="breed"
        placeholder="Digite a raça do seu Cachorro"
        required
        [ngClass]="{ 'is-invalid': submitted && hasError('breed') }"
      />
      <div
        class="m-1"
        *ngIf="hasError('breed') && hasError('breed')?.['required']"
        style="color: red"
      >
        Por favor informe a raça do cachorro!
      </div>
      <div
        class="m-1"
        *ngIf="hasError('breed') && hasError('breed')?.['maxlength']"
        style="color: red"
      >
        Máximo de 250 caracteres!
      </div>
    </div>
    <!-- breed -->

    <!-- color -->
    <div class="form-group mb-3">
      <label class="form-label" for="color">Cor do Cachorro</label>
      <input
        type="text"
        class="form-control"
        id="color"
        formControlName="color"
        aria-describedby="color"
        placeholder="Digite a(s) cor(es) do seu Cachorro"
        required
        [ngClass]="{ 'is-invalid': submitted && hasError('color') }"
      />
      <div
        class="m-1"
        *ngIf="hasError('color') && hasError('color')?.['required']"
        style="color: red"
      >
        Por favor informe a cor do cachorro!
      </div>
      <div
        class="m-1"
        *ngIf="hasError('color') && hasError('color')?.['maxlength']"
        style="color: red"
      >
        Máximo de 250 caracteres!
      </div>
    </div>
    <!-- color -->

    <!-- sexo  Verificar-->
    <div class="form-group mb-3">
      <label for="sexo">Qual o sexo do Cachorro?</label>
      <select
        class="form-select"
        id="sexo"
        formControlName="sexo"
        required
        [ngClass]="{ 'is-invalid': submitted && hasError('sexo') }"
      >
        <option value="MACHO">MACHO</option>
        <option value="FÊMEA">FÊMEA</option>
      </select>
    </div>
    <!-- sexo -->

    <!-- neutered  Verificar-->
    <div class="form-group mb-3">
      <label for="neutered">O Cachorro é Castrado?</label>
      <select
        class="form-select"
        id="neutered"
        formControlName="neutered"
        required
        [ngClass]="{ 'is-invalid': submitted && hasError('neutered') }"
      >
        <option [value]="true">Sim</option>
        <option [value]="false">Não</option>
      </select>
    </div>
    <!-- neutered -->

    <!-- peso -->
    <div class="form-group mb-3">
      <label class="form-label" for="peso" required>Peso do Cachorro </label>
      <input
        type="number"
        class="form-control"
        id="peso"
        formControlName="peso"
        aria-describedby="peso"
        placeholder="Digite o peso do seu Cachorro"
        required
        [ngClass]="{ 'is-invalid': submitted && hasError('peso') }"
      />
    </div>
    <!-- peso -->

    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="submit" class="btn btn-secondary m-1" (click)="onCancel()">
      Cancelar
    </button>
  </form>
</div>
