<div class="card border-secondary">
  <div class="card-header">
    <h2 class="text-center text-success">Cadastro de Cachorro</h2>
  </div>
</div>

<div class="container p-5">
  <!-- <form (ngSubmit)="" [formGroup]=""> -->
  <form (ngSubmit)="saveDog()" [formGroup]="dogFormCreate">
    <!-- dogName -->
    <div class="form-group mb-3">
      <label class="form-label" for="dogName">Nome do Cachorro </label>
      <input
        type="text"
        class="form-control"
        id="dogName"
        formControlName="dogName"
        aria-describedby="dogName"
        placeholder="Digite o nome do seu Cachorro"
      />
      @if (dogFormCreate.get('dogName')?.invalid){
      <span>erro</span>
      <!-- validar os erros -->
      }
    </div>
    <!-- dogName -->

    <!-- breed -->
    <div class="form-group mb-3">
      <label class="form-label" for="breed">Raça do Cachorro</label>
      <input
        type="text"
        class="form-control"
        id="breed"
        formControlName="breed"
        aria-describedby="breed"
        placeholder="Digite a raça do seu Cachorro"
        required
      />
    </div>
    <!-- breed -->

    <!-- color -->
    <div class="form-group mb-3">
      <label class="form-label" for="color">Cor do Cachorro</label>
      <input
        type="text"
        class="form-control"
        id="color"
        formControlName="color"
        aria-describedby="color"
        placeholder="Digite a(s) cor(es) do seu Cachorro"
      />
    </div>
    <!-- color -->

    <!-- sexo  Verificar-->
    <div class="form-group mb-3">
      <label for="sexo">Qual o sexo do Cachorro?</label>
      <select class="form-select" id="sexo" formControlName="sexo">
        <option value="MACHO">MACHO</option>
        <option value="FÊMEA">FÊMEA</option>
      </select>
    </div>
    <!-- sexo -->

    <!-- neutered  Verificar-->
    <div class="form-group mb-3">
      <label for="neutered">O Cachorro é Castrado?</label>
      <select
        class="form-select"
        id="neutered"
        formControlName="neutered"
        required
      >
        <option [value]="true">Sim</option>
        <option [value]="false">Não</option>
      </select>
    </div>
    <!-- neutered -->

    <!-- peso -->
    <div class="form-group mb-3">
      <label class="form-label" for="peso" required>Peso do Cachorro </label>
      <input
        type="number"
        class="form-control"
        id="peso"
        formControlName="peso"
        aria-describedby="peso"
        placeholder="Digite o peso do seu Cachorro"
      />
    </div>
    <!-- peso -->

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
