<div class="cointainer text-center">
  <div class="container hero-wrap p-2 m-1 img-fluid">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-11 text-center">
        <h1 class="mb-1 text-success">O melhor lugar para o seu Cachorro!</h1>
      </div>
    </div>
  </div>

  <div>
    <img
      class="img-thumbnail floar-center m-3"
      src="../../../assets/imgs/bg-1.png"
      alt=""
    />
    <div class="overlay"></div>
  </div>
</div>
