<div class="cointainer text-center">
  <!-- text -->
  <div class="container hero-wrap p-2 m-1">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-11 text-center">
        <h1 class="mb-1 text-success">O melhor lugar para o seu Cachorro!</h1>
      </div>
    </div>
  </div>
  <!-- text -->
  <!-- Carrosel -->
  <div class="carousel slide" id="ads" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/imgs/dogcare-home-1.jpg"
          alt=""
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/imgs/dogcare-home-2.jpg"
          alt=""
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/imgs/dogcare-home-3.jpg"
          alt=""
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/imgs/dogcare-home-4.jpg"
          alt=""
          class="d-block w-100"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      data-bs-target="#ads"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      data-bs-target="#ads"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <!-- Carrosel -->
  <!-- Cards -->
  <div class="hero-wrap card border-secondary mt-4">
    <div class="card-header slider-text">
      <h2 class="text-center text-success">
        Benefícios para seu Cachorro!🐶🐾
      </h2>
    </div>
  </div>
  <!-- Cards -->
  <!-- List de conteúdo -->

  <div class="card list-group m-4">
    <!-- list1 -->
    <a class="list-group-item list-group-item-action list-group-item-success"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-success fs-6 fw-medium">
          Atividades Recreativas Personalizadas
        </h3>
      </div>
      <p class="mb-1 text-start text-success fw-medium">
        Criamos programas de recreação adaptados ao perfil do seu cão,
        garantindo que cada visita seja uma experiência única e sob medida para
        seu amigão.
      </p></a
    >
    <!-- list1 -->
    <!-- list2 -->
    <a class="list-group-item list-group-item-action list-group-item-primary"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-secondary fs-6 fw-medium">Playground Canino</h3>
      </div>
      <p class="mb-1 text-start text-secondary fw-medium">
        Deixe seu amigo de quatro patas explorar e brincar em nosso espaçoso
        playground, onde a diversão é garantida!
      </p></a
    >
    <!-- list2 -->
    <!-- list3 -->
    <a class="list-group-item list-group-item-action list-group-item-info"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-success fs-6 fw-medium">
          Eventos Temáticos Mensais
        </h3>
      </div>
      <p class="mb-1 text-start text-success fw-medium">
        Proporcionamos eventos temáticos mensais cheios de surpresas e animação
        para que seu cão viva momentos especiais e inesquecíveis.
      </p></a
    >
    <!-- list3 -->
    <!-- list4 -->
    <a class="list-group-item list-group-item-action list-group-item-success"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-success fs-6 fw-medium">Socialização Canina</h3>
      </div>
      <p class="mb-1 text-start text-success fw-medium">
        Facilitamos encontros saudáveis entre cães, promovendo a socialização
        para fortalecer laços e construir amizades duradouras.
      </p></a
    >
    <!-- list4 -->
    <!-- list5 -->
    <a class="list-group-item list-group-item-action list-group-item-primary"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-secondary fs-6 fw-medium">
          Cuidados Veterinários de Qualidade
        </h3>
      </div>
      <p class="mb-1 text-start text-secondary fw-medium">
        Seu amigo merece o melhor cuidado! Oferecemos tratamentos veterinários
        especializados para garantir o bem-estar constante do seu cão.
      </p></a
    >
    <!-- list5 -->
    <!-- list6 -->
    <a class="list-group-item list-group-item-action list-group-item-info"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-success fs-6 fw-medium">Aulas de Adestramento</h3>
      </div>
      <p class="mb-1 text-start text-success fw-medium">
        Transforme seu cão em um verdadeiro mestre de obediência! Nossas aulas
        de adestramento são recheadas de diversão e aprendizado.
      </p></a
    >
    <!-- list6 -->
  </div>
  <!-- List de conteúdo -->

  <!-- Card CA -->
  <div class="hero-wrap card border-secondary mt-4">
    <div class="card-header slider-text">
      <h3 class="text-center text-success">
        Explore um ambiente dedicado ao bem-estar e desenvolvimento integral do
        seu estimado companheiro canino. Junte-se à nossa comunidade apaixonada
        de amantes de cães e comece a trilhar o caminho para uma vida mais feliz
        e saudável para o seu companheiro. Seu cão merece o melhor - clique no
        botão abaixo para iniciar essa jornada!
      </h3>

      <a
        routerLink="/registro"
        routerLinkActive="active"
        class="btn btn-primary"
        >Registro</a
      >
    </div>
  </div>
  <!-- Card CA -->
</div>
