/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Chelsea Market", "Helvetica Neue", sans-serif;
}


@import "../node_modules/bootstrap/scss/bootstrap";

$font-primary: 'Chelsea Market', 'Montserrat', Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #00043c;

$primary: #00bd56;
$secondary: #207dff;


@mixin gradient-background() {
  background: rgba(32, 125, 255, 1);
  background: -moz-linear-gradient(45deg, rgba(32, 125, 255, 1) 0%, rgba(0, 189, 85, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(32, 125, 255, 1)), color-stop(100%, rgba(0, 189, 85, 1)));
  background: -webkit-linear-gradient(45deg, rgba(32, 125, 255, 1) 0%, rgba(0, 189, 85, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(32, 125, 255, 1) 0%, rgba(0, 189, 85, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(32, 125, 255, 1) 0%, rgba(0, 189, 85, 1) 100%);
  background: linear-gradient(45deg, rgba(32, 125, 255, 1) 0%, rgba(0, 189, 85, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207dff', endColorstr='#00bd55', GradientType=1);
}

html {
  // overflow-x: hidden;
}

body {
  font-family: $font-primary;
  background: $white;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: lighten($black, 50%);

  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

a {
  transition: .3s all ease;
  color: $primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
    outline: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
  font-weight: 400;
}

.font-family {
  font-family: $font-primary;
}

.wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  background: $primary;
  @include gradient-background();

  .phone {
    z-index: 1;

    span {
      color: $white;
    }

    a {
      color: $white;
      font-size: 12px;
    }
  }
}


.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;

  @include media-breakpoint-down(lg) {
    background-position: center center !important;
  }

  .overlay {
    position: absolute;
    // width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .1;
    background: $black;
  }

  &.hero-wrap-2 {
    height: 400px;

    .overlay {
      opacity: .5;
      @include gradient-background();
    }

    .slider-text {
      height: 400px;

      h1 {
        font-weight: 400;
        font-size: 40px;
      }
    }
  }

  .slider-text {
    h1 {
      color: $white;
      line-height: 1.2;
      font-family: $font-primary;
      font-size: 60px;
      font-weight: 800;

      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
    }

    h2 {
      color: $white;
      line-height: 1.2;
      font-family: $font-primary;
      font-size: 30px;
      font-weight: 800;

      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }

    h3 {
      color: $white;
      line-height: 1.2;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 400;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }
}

//BUTTON
.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.btn-primary {
    background: $primary;
    border: 1px solid $primary;
    color: $white;

    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
    }

    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;

      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color: $white;
      }
    }
  }

  &.btn-white {
    background: $white;
    border: 1px solid $white;
    color: $black;

    &:hover {
      border: 1px solid $white;
      background: transparent;
      color: $white;
    }

    &.btn-outline-white {
      border: 1px solid $white;
      background: transparent;
      color: $white;

      &:hover {
        border: 1px solid transparent;
        background: $white;
        color: $black;
      }
    }
  }
}


//SERVICES
.services {
  display: block;
  width: 100%;
  position: relative;
  background: $white;

  -webkit-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.08);
  @include transition(.3s);

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    line-height: 1.3;
    border-radius: 50%;
    background: lighten($black, 94%);
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -50px;

    span {
      font-size: 40px;
      color: $primary;
    }
  }

  .media-body {
    margin-top: 40px;
    @include transition(.3s);

    h3 {
      font-weight: 700;
      font-size: 20px;
      color: $black;
      @include transition(.3s);
    }



    span {
      color: $white;
    }
  }

  &:hover,
  &.active {
    background: $primary;

    .icon {
      background: $white;
    }

    .media-body {
      color: rgba(255, 255, 255, .9);

      h3 {
        color: $white;
      }
    }

    .btn-custom {
      background: $white;
      right: -20px;

      span {
        color: $primary;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}



//COVER BG
.img,
.blog-img,
.user-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.aside-stretch-right {
  background: $primary;

  &:after {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: $primary;
  }

  @include media-breakpoint-down(sm) {
    background: transparent;

    &:after {
      background: transparent;
      display: none;
    }
  }
}
