<form>
  <div class="mb-3">
    <label for="email" class="form-label" required
      >Digite seu email de login</label
    >
    <input
      [formControl]="email"
      type="email"
      class="form-control"
      id="email"
      aria-describedby="email"
      placeholder="example@dogcare.com"
      required
    />
    @if (email.invalid) {
    <div>
      <p>{{ getErrorMessage() }}</p>
    </div>
    }
    <!-- @if (email.invalid) {
    <mat-error>{{ getErrorMessage() }}</mat-error>
    } -->
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input
      [formControl]="password"
      type="password"
      class="form-control"
      id="password"
      placeholder="Senha"
      required
    />
    <!-- @if (password.invalid) {
    <mat-error>{{ getErrorMessagePassword() }}</mat-error>
    } -->
  </div>

  <button (click)="realizarLogin()" type="submit" class="btn btn-primary mb-3">
    Login
  </button>
  @if (mensagemValidForm) {
  <div>
    <p>{{ mensagemValidForm }}</p>
  </div>
  }
</form>

<!-- <div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      required
    />
    @if (email.invalid) {
    <mat-error>{{ getErrorMessage() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [formControl]="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (password.invalid) {
    <mat-error>{{ getErrorMessagePassword() }}</mat-error>
    }
  </mat-form-field>

  <button (click)="realizarLogin()">Login</button>

  @if (mensagemValidForm) {
  <mat-error>{{ mensagemValidForm }}</mat-error>
  }
</div> -->
