<nav
  class="navbar bg-success navbar-dark navbar-expand-sm py-2 sticky-top"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="../assets/imgs/icon/log-dogcare.svg"
        alt="Logo"
        width="45"
        height="35"
        class="d-inline-block align-text-top"
      />
      DogCare</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            >Principal</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/about"
            routerLinkActive="active"
            >Sobre</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/servicos"
            routerLinkActive="active"
            >Serviços</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            >Fotos</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dog"
            routerLinkActive="active"
            >Cadastro de Cachorro</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/servico"
            routerLinkActive="active"
            >Histórico de Serviços</a
          >
        </li>
      </ul>

      <button
        type="button"
        class="btn btn-outline-light m-2"
        routerLink="/perfil"
        routerLinkActive="active"
      >
        Perfil de usuário
      </button>
      <form (submit)="logout()">
        <button
          type="submit"
          class="btn btn-outline-light"
          routerLink="/home"
          routerLinkActive="active"
        >
          Sair
        </button>
      </form>
    </div>
  </div>
</nav>
