<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h2>Cachorros</h2>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-success" routerLink="new">
        Cadastrar Cachorro
      </button>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-hover"
      *ngIf="dogs$ | async as dogs; else loading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Raça</th>
          <th>Cor</th>
          <th>Sexo</th>
          <th>Castrado</th>
          <th>peso(KG)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs">
          <td>{{ dog.idDog }}</td>
          <td>{{ dog.dogName }}</td>
          <td>{{ dog.breed }}</td>
          <td>{{ dog.color }}</td>
          <td>{{ dog.sexo }}</td>
          <td>{{ dog.neutered }}</td>
          <td>{{ dog.peso }}</td>
          <td></td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning b1 btn-sm">
                Atualizar
              </button>
              <button class="btn btn-outline-danger b1 btn-sm m-1">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading> <span>Carregando ...</span></ng-template>
  </div>
</div>
