<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h2>Cachorros</h2>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-success" routerLink="new">
        Cadastrar Cachorro
      </button>
      <button type="button" class="btn btn-secondary m-1" (click)="onRefresh()">
        Atualizar
      </button>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-hover"
      *ngIf="dogs$ | async as dogs; else loadingError"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Raça</th>
          <th>Cor</th>
          <th>Sexo</th>
          <th>Castrado</th>
          <th>peso(KG)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs">
          <td>{{ dog.idDog }}</td>
          <td>{{ dog.dogName }}</td>
          <td>{{ dog.breed }}</td>
          <td>{{ dog.color }}</td>
          <td>{{ dog.sexo }}</td>
          <td>{{ dog.neutered }}</td>
          <td>{{ dog.peso }}</td>
          <td></td>
          <td>
            <span class="float-right">
              <button
                class="btn btn-outline-warning b1 btn-sm"
                (click)="onEdit(dog.idDog)"
              >
                Atualizar
              </button>
              <button
                class="btn btn-outline-danger b1 btn-sm m-1"
                (click)="onDelete(dog)"
              >
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        Erro ao carregar a lista de cachorros. Tente novamente mais tarde.
      </div>
      <ng-template #loading><span>Carregando ...</span></ng-template>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Certeza que deseja remover esse cachorro?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">
      Não
    </button>
  </div>
</ng-template>
