<div class="cointainer text-center">
  <div class="container hero-wrap p-2 m-1 img-fluid">
    <img
      class="img-thumbnail floar-center m-3"
      src="../../../assets/imgs/bg-1.png"
      alt=""
    />
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-11 text-center">
        <h1 class="mb-1 text-success">O melhor espaço para o seu Cachorro!</h1>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://picsum.photos/id/237/400/400"
          alt=""
          class="card-img-top"
        />
        <h2 class="card-header text-center">Max</h2>
        <div class="card-body">
          <h3 class="card-text text-center fw-medium lh-sm">
            A DogCare reconhece a importancia de manter os cães física e
            mentalmente ativos, provomendo o bem-estar e saude adequeada para os
            cães. Por isso é tão importante o cão ter uma vida ativa, socializar
            e ter desafios e obstáculos para enfrentar.
          </h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://picsum.photos/id/659/400/400"
          alt=""
          class="card-img-top"
        />
        <h2 class="card-header text-center">Zeus</h2>
        <div class="card-body">
          <h3 class="card-text text-center fw-medium lh-sm">
            Nosso objetivo maior é melhorar a vida dos cães, criando a
            consciência de que eles devem ter suas necessidade supridas antes de
            mais nada. Pois, se não for assim, não há como se comportarem como
            amigos bem ajustados a rotina familiar.
          </h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://picsum.photos/id/1025/400/400"
          alt=""
          class="card-img-top"
        />
        <h2 class="card-header text-center">Bella</h2>
        <div class="card-body">
          <h3 class="card-text text-center fw-medium lh-sm">
            Nosso objetivo é criar uma experiência de cuidado que não apenas
            satisfaça as necessidades básicas dos cães, mas também promova um
            ambiente positivo, onde eles possam prosperar e viver uma vida plena
            e feliz.
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards -->

  <!-- List de conteúdo -->

  <div class="list-group m-4">
    <!-- list1 -->
    <a class="list-group-item list-group-item-action list-group-item-success"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1 text-success fs-6 fw-medium">
          Hospedagem e treinamento de cães!
        </h3>
      </div>
      <p class="mb-1 text-start text-success fw-medium">
        Se você precisa viajar ou trabalhar fora de casa e quer um lugar cheio
        de aconchego para deixar o seu cãozinho, conheça o nosso serviço de
        hospedagem familiar. Aqui, seu pet será recebido em um ambiente
        acolhedor, com cuidados individuais, muito amor e carinho. Você receberá
        atualizações diárias sobre o seu bichinho e terá a tranquilidade de
        saber que ele está em boas mãos.
      </p></a
    >
    <!-- list1 -->
    <!-- list2 -->
    <a class="list-group-item list-group-item-action list-group-item-primary"
      ><div class="d-flex w-100 justify-content-between"></div>
      <p class="mb-1 text-start text-secondary fw-medium">
        Seu cão merece se divertir e aprender coisas novas todos os dias. Por
        isso, oferecemos o serviço de DayCare para cachorro, onde ele poderá
        brincar, se exercitar, enfrentar desafios e socializar com outros cães
        sob a supervisão de profissionais qualificados. Além disso, ele receberá
        uma alimentação balanceada, medicamentos se necessário e cuidados de
        higiene e beleza.
      </p></a
    >
    <!-- list2 -->
    <!-- list3 -->
    <a class="list-group-item list-group-item-action list-group-item-success"
      ><div class="d-flex w-100 justify-content-between"></div>
      <p class="mb-1 text-start text-success fw-medium">
        Gostaria que o seu cão seja mais obediente, educado e feliz? Então,
        venha conhecer o nosso serviço de treinamento e adestramento de cães.
        Nós usamos métodos positivos e eficazes para ensinar o seu pet a se
        comportar bem em diversas situações. Ele aprenderá comandos básicos,
        truques divertidos e como conviver melhor com você e com outros animais.
      </p></a
    >
    <!-- list3 -->
    <!-- list4 -->
    <a class="list-group-item list-group-item-action list-group-item-primary"
      ><div class="d-flex w-100 justify-content-between"></div>
      <p class="mb-1 text-start text-secondary fw-medium">
        No nosso espaço, o seu cão é tratado como um membro da família. Por
        isso, nós oferecemos os melhores serviços de saúde e bem-estar para ele.
        Aqui, ele terá acesso a consultas veterinárias, vacinas, vermifugação,
        castração, microchipagem e outros procedimentos que garantem a sua
        segurança e qualidade de vida. Além disso, ele poderá desfrutar de um
        banho relaxante, uma tosa caprichada e outros mimos que deixarão ele
        mais bonito e cheiroso.
      </p></a
    >
    <!-- list4 -->
    <!-- List de conteúdo -->

    <!-- Card CA -->
    <div class="hero-wrap card border-secondary mt-4">
      <div class="card-header slider-text">
        <h3 class="text-center text-success">
          Então, não perca tempo e venha conhecer os nossos serviços de
          hospedagem, Day Care, treinamento e adestramento, saúde e bem-estar.
          Aqui, o seu pet será tratado com todo o respeito, carinho e
          profissionalismo que ele merece. Ele poderá se divertir, aprender,
          socializar e receber os cuidados que precisa para ser saudável e feliz
          pra cachorro. E você poderá ficar tranquilo, sabendo que ele está em
          boas mãos. Entre em contato conosco e agende uma visita. Estamos te
          esperando! 🐶
        </h3>

        <a
          routerLink="/servicos"
          routerLinkActive="active"
          class="btn btn-primary"
          >Conheça nossos Serviços!</a
        >
      </div>
    </div>
    <!-- Card CA -->

    <div class="card mt-5"></div>
  </div>
</div>
