<!-- Cards -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <div class="col">
      <div class="card h-100">
        <img src="https://picsum.photos/400/400" alt="" class="card-img-top" />
        <h2 class="card-header text-center">Cabeçalho</h2>
        <div class="card-body">
          <h3 class="card-title">titulos do card</h3>
          <h4 class="card-subtitile">subtitulo do card</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            distinctio odit, eum officiis cum amet ipsam architecto rem optio
            aliquid rerum quae nulla quod! Ex repellat corrupti corporis amet
            vitae!
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://picsum.photos/400/400" alt="" class="card-img-top" />
        <h2 class="card-header text-center">Cabeçalho</h2>
        <div class="card-body">
          <h3 class="card-title">titulos do card</h3>
          <h4 class="card-subtitile">subtitulo do card</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            distinctio odit, eum officiis cum amet ipsam architecto rem optio
            aliquid rerum quae nulla quod! Ex repellat corrupti corporis amet
            vitae!
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://picsum.photos/400/400" alt="" class="card-img-top" />
        <h2 class="card-header text-center">Cabeçalho</h2>
        <div class="card-body">
          <h3 class="card-title">titulos do card</h3>
          <h4 class="card-subtitile">subtitulo do card</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            distinctio odit, eum officiis cum amet ipsam architecto rem optio
            aliquid rerum quae nulla quod! Ex repellat corrupti corporis amet
            vitae!
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards -->

  <!-- List de conteúdo -->

  <div class="list-group m-4">
    <!-- list -->
    <a class="list-group-item list-group-item-action list-group-item-success"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">Titulo</h3>
      </div>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam
        ut asperiores deleniti incidunt quam quod iure suscipit doloremque dolor
        architecto, accusamus consectetur nemo laborum aliquam odio, doloribus
        distinctio dolorum?
      </p></a
    >
    <!-- list -->
    <!-- list -->
    <a href="#" class="list-group-item list-group-item-action"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">Titulo</h3>
      </div>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam
        ut asperiores deleniti incidunt quam quod iure suscipit doloremque dolor
        architecto, accusamus consectetur nemo laborum aliquam odio, doloribus
        distinctio dolorum?
      </p></a
    >
    <!-- list -->
    <!-- list -->
    <a href="#" class="list-group-item list-group-item-action"
      ><div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">Titulo</h3>
      </div>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam
        ut asperiores deleniti incidunt quam quod iure suscipit doloremque dolor
        architecto, accusamus consectetur nemo laborum aliquam odio, doloribus
        distinctio dolorum?
      </p></a
    >
    <!-- list -->
  </div>
  <!-- List de conteúdo -->

  <!-- Carrosel -->
  <div class="carousel slide" id="ads" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://picsum.photos/1280/420?random=1"
          alt=""
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1280/420?random=2"
          alt=""
          class="d-block w-100"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1280/420?random=3"
          alt=""
          class="d-block w-100"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      data-bs-target="#ads"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      data-bs-target="#ads"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  <!-- Carrosel -->
  <!-- Carrosel -->

  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://picsum.photos/1280/420?random=12"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1280/420?random=9"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1280/420?random=42"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Carrosel -->

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://picsum.photos/1280/420?random=4"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1280/420?random=5"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1280/420?random=6"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="card mt-5"></div>
</div>
