<div class="cointainer text-center">
  <div class="container hero-wrap p-2 m-1 img-fluid">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-11 text-center">
        <h1 class="mb-1 text-success">O melhor lugar para o seu Cachorro!</h1>
      </div>
    </div>
  </div>
  <img
    class="img-thumbnail floar-center m-3"
    src="../../../assets/imgs/bg_1.jpg"
    alt=""
  />
</div>
<!-- Section 1 -->
<section class="bg-light mt-5">
  <div class="container">
    <div class="row mb-5 pb-5">
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-tree d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Passeio Aventura</h3>
            <p>
              Proporcione momentos de diversão ao ar livre para seu pet com
              nosso serviço de passeio aventura. Inclui um passeio guiado,
              exercícios e interação com a natureza.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 1 -->

      <!-- Section 2 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-magic d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Treinamento Obediência Básica</h3>
            <p>
              Desenvolva uma relação mais forte com seu pet através do
              treinamento de obediência básica. Inclui comandos como sentar,
              ficar e andar na coleira.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 2 -->

      <!-- Section 3 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-droplet-half d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Pet Care</h3>
            <p>
              Aproveite os nossos serviços de higiene e beleza, como banho,
              tosa, hidratação, corte de unhas e limpeza de ouvidos. Venha nos
              visitar e surpreenda-se com a nossa qualidade e o nosso preço.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 3 -->

      <!-- Section 4 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5 mt-2">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-stars d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Day Care</h3>
            <p>
              Seu cão vai se divertir com atividades de enriquecimento
              ambiental, onde um ambiente dinâmico, complexo e interativo que
              proporciona desafios físicos e mentais similares aos da natureza,
              sempre com a supervisão do recreador.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 4 -->

      <!-- Section 5 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5 mt-2">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-star-fill d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">TransporDog</h3>
            <p>
              Seu cão poderá viajar com conforto, segurança e rapidez para
              qualquer lugar do norte do Paraná, com veículos adaptados,
              monitoramento por GPS e seguro veterinário emergencial. Você
              poderá escolher entre modalidades compartilhadas ou exclusivas, de
              acordo com a sua necessidade e preferência.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 5 -->

      <!-- Section 6 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5 mt-2">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-heart d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Check-up Veterinário</h3>
            <p>
              Garanta a saúde do seu pet com nosso check-up veterinário. Uma
              consulta de rotina que avalia a saúde do seu animal de estimação,
              mesmo que ele não apresente sintomas de doenças. Inclui exame
              físico, vacinação básica e orientações personalizadas para
              cuidados preventivos para seu cão.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 6 -->
    </div>
  </div>
</section>

<!-- Card CA -->
<div class="cointainer text-center">
  <div class="hero-wrap card border-secondary mt-4">
    <div class="card-header slider-text">
      <h3 class="text-center text-success">
        Não perca essa oportunidade de oferecer o melhor para o seu cão. Entre
        em contato conosco agora mesmo e agende uma visita gratuita. Você vai se
        surpreender com a nossa qualidade e o nosso preço. Venha fazer parte da
        nossa família DogCare! 🐶
      </h3>

      <a
        routerLink="/registro"
        routerLinkActive="active"
        class="btn btn-success m-2"
        >Registro</a
      >

      <a
        href="https://api.whatsapp.com/send?phone=5543999999999&text=Voc%C3%AA%20est%C3%A1%20entrando%20em%20contato%20com%20o%20espa%C3%A7o%20Dog%20Care!%F0%9F%90%B6%F0%9F%90%BE%0AUm%20momento%20e%20voc%C3%AA%20j%C3%A1%20ser%C3%A1%20atendido."
        target="_blank"
        class="btn btn-primary m-2"
        >Contato whatsapp</a
      >
    </div>
  </div>
</div>

<!-- Card CA -->
