<div class="cointainer text-center">
  <div class="container hero-wrap p-2 m-1 img-fluid">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-11 text-center">
        <h1 class="mb-1 text-success">O melhor lugar para o seu Cachorro!</h1>
      </div>
    </div>
  </div>
  <img
    class="img-thumbnail floar-center m-3"
    src="../../../assets/imgs/bg_1.jpg"
    alt=""
  />
</div>
<!-- Section 1 -->
<section class="bg-light mt-5">
  <div class="container">
    <div class="row mb-5 pb-5">
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-tree d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Dog Walking</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 1 -->

      <!-- Section 2 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-magic d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Pet Daycare</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 2 -->

      <!-- Section 3 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-droplet-half d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Pet Grooming</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 3 -->

      <!-- Section 4 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5 mt-2">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-stars d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Dog Walking</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 4 -->

      <!-- Section 5 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5 mt-2">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-star-fill d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Pet Daycare</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 5 -->

      <!-- Section 6 -->
      <div class="col-md-4 d-flex align-self-stretch px-4 mb-5 mt-2">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="bi bi-heart d-flex fs-1 text-success"></i>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Pet Grooming</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right.
            </p>
          </div>
        </div>
      </div>
      <!-- Section 6 -->
    </div>
  </div>
</section>
